%% Compiler options
% {erl_opts, [{i, "./nif/pack_nif"}, debug_info]}.
{erl_opts, [warnings_as_errors, debug_info]}.

%% Plugins
{project_plugins, [erlfmt]}.
{erlfmt, [write]}.

%% Rustler
{plugins, [rebar3_rustler]}.

{cargo_opts, [
    {src_dir, "native/poreppack_nif"}
]}.

{provider_hooks, [
    {pre, [
        {compile, {cargo, build}}
    ]},
    {post, [
        {clean, {cargo, clean}},
        {eunit, {cargo, test}}
    ]}
]}.

%% Dependencies
{deps, []}.

%% Static analysis
{dialyzer, [
    {warnings, [underspecs, no_return]},
    {get_warnings, true},
    {plt_apps, top_level_deps},
    {plt_extra_apps, []},
    {plt_location, local},
    {plt_prefix, "rebar3"},
    {base_plt_apps, [stdlib, kernel, crypto]},
    {base_plt_location, global},
    {base_plt_prefix, "rebar3"}
]}.

%% Build
{profiles, [
    {test, [
        {deps, [
            {meck, "0.9.2"}
        ]}
    ]},
    %% called as `rebar3 as prod <command>`
    {prod, [
        % override relx specifically
        {relx, [
            % don't include source code
            {include_src, false},
            % include the VM in the release
            {include_erts, true}
        ]}
    ]}
]}.
